<div class="topPage login">
    <ul class="col-md-12">
        <li class="col-md-2 col-xs-offset-3">
            <img src="assets/img/logo_ricka.png" class="img-responsive" style="height: 50px;">
        </li>
        <li>
            <h4>Login</h4>
        </li>
    </ul>
</div>


<section class="col-md-6 tecnologia col-xs-offset-3">
    <form name="loginForm" ng-controller="LoginCtrl as login" ng-submit="login.doAuth()" method="post">
        <div class="alert alert-danger" ng-if="login.auth.notFound" role="alert">
            {{login.auth.notFound}}
        </div>
        <div class="form-group">
            <label for="login">Login: </label>
            <input type="text" name="email" ng-model="login.auth.user.email" class="form-control">
        </div>
        <div class="form-group">
            <label for="senha">Senha: </label>
            <input type="password" name="senha" ng-model="login.auth.user.password" class="form-control">
        </div>
        <div class="pull-right">
            <button class="btn btn-success" ng-disabled="(loginForm.$invalid || login.auth.submitDisabled)">Login</button>
        </div>
    </form>
</section>