<header>
    <div class="container-fluid">
        <div class="row">
            <div class="logo col-xs-12 col-md-3">
                <img src="assets/img/logo_ricka_w.png" class="img-responsive">
            </div>
            <div class="login col-xs-12 col-md-offset-6 col-md-3">
                <ul>
                    <li>
                        <img ng-src="{{structure.account.image}}">
                    </li>
                    <li>
                        <span>{{structure.account.name}}</span>
                        <a ng-click="vmNavbarTop.doLogout()"><i class="fa fa-sign-out"></i> Sair</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</header>