$fontRegular: 'Open Sans', sans-serif;
$fontDestaque: 'Oswald', sans-serif;
$light: 300;
$regular: 400;
$bold: 700;
$vermelho: #A81E22;
$vermelhoEscuro: #7D171B;
$branco: #ffffff;
$preto: #1e171f;
$fontSize: 1em;
$cinzaClaro: #d7d9dc;
$cinzaPadrao: #7e8082;
$cinzaDestaque: #6f6f73;
$verde: #3D8002;
$verdeEscuro: #2c6002;


$break-small: 40em;


@mixin fontPadraoMX($fontSize){
    font-family: $fontRegular;
    color: $cinzaPadrao ;
    font-size: $fontSize;
}
@mixin fontDestaqueMX($fontSize){
    font-family: $fontDestaque;
    color: $cinzaDestaque;
    font-size: $fontSize;  
    text-transform: uppercase;
    font-weight: $light;
}
@mixin transitionMX($propriedade, $tempo){
    transition: $propriedade, $tempo;
}

@mixin pageTitleMX{
    background-color: $vermelho;
    color: $branco;
    padding-top: 40px;
    padding-bottom: 40px;
}

/* MEDIA QUERIES */

@media screen and (min-width:1280px) and (max-width:1440px){
}

@media screen and (max-width: $break-small){
}

/* MEDIA QUERIES */

.input-file-for{
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    background-color:  $branco;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    cursor: pointer;
}

.save-modal-button{
    background-color: $verde !important;
    border-color: #255625 !important;
    color: $branco !important;
    font-weight: $bold !important;
    font-family: $fontRegular !important;
}

.cancel-modal-button{
    border-color: $vermelhoEscuro !important;
    background: #ac2925 !important;
    color: $branco !important;
    font-weight: $bold !important;
    font-family: $fontRegular !important;
}




header{
    background-color: $cinzaDestaque;
    padding: 0;
    & .logo{
        background-color: $vermelho;
        padding: 20px 0;
        & img{
            height: 70px;
            margin: 0 auto;
        }
    }
    & .login{
        & ul{
            & li{
                display: inline-block;
                & img{
                    margin-top: 20px;
                    margin-right: 10px;
                    width: 65px;
                    height: 65px;
                    border-radius: 50%;
                    border: 1px solid white;
                }
                & span{
                    @include fontPadraoMX(1em);
                    color: $branco;
                    float: right;
                    position: absolute;
                    top: 50%;
                }
                & a{
                    @include fontPadraoMX(1em);
                    color: $branco;
                    float: right;
                    text-decoration: none;
                    cursor:pointer;
                    font-size: 0.8em!important;
                    &:hover{
                        text-decoration: none;
                    }
                }
            }
        }
    }
}
.wrapContainer{
        height: 100%;
    & .container-fluid, & .row{
        height: 100%;
    }
    & .menuLateral{
        background-color: $vermelho;
        height: 100%;
        position: absolute;
        & ul{
            margin-top: 20px;
            & li{
                padding: 25px;
                background-color: transparent;
                @include transitionMX(background-color, 0.2s);
                & a{
                    @include fontDestaqueMX(1.1em);
                    color: $branco;
                    letter-spacing: 2px;
                    & i{
                        margin-right: 10px;
                        width: 40px;
                        color: $branco;
                    }
                    &:hover, &:active, &:focus{
                        text-decoration: none;
                        background-color: transparent;
                    }
                }
                &:hover, &:active, &:focus{
                    background-color: rgba(255,255,255,0.3);
                    cursor: pointer;
                }
            }
        }
    }
    & .content{
        margin-top: 20px;
        float: right;
    }
}

.topPage{
    & ul{
        padding-top: 25px;
        padding-bottom: 25px;
        border-bottom: solid 3px $cinzaClaro;
        margin-bottom: 25px;
        & li{
            & h4{
                @include fontDestaqueMX(2em);
            }
        }
    }
}

/* PARTIAL - HOME - INÍCIO */

.boxContent{
    background-color: $cinzaClaro;
    opacity: 0.6;
    padding: 30px;
    height: 250px;
    & h2{
        @include fontDestaqueMX(2em);
        text-align: center;
    }
    & .descriptBox{
        margin-top: 20px;
        & ul{
            & li{
                padding: 5px 0;
                & ul{
                    & li{
                        display: inline-block;
                    }
                }
            }
        }
        & h4{
            @include fontDestaqueMX(1.25em);
            color: $preto;
        }  
        & p{
            @include fontPadraoMX(1em);
            color: $preto;
            margin: 10px 0;
        } 
        & span{
            @include fontPadraoMX(1em);
            color: $preto;
        }
    }
}

/* PARTIAL - HOME - FIM */

/* PARTIAL - PORTFOLIO - INICIO */

.table{
    & thead{
        & tr{
            & th{
                @include fontDestaqueMX(1.2em);
            }
        }
    }
    & tbody{
        & tr{
            & td{
                @include fontPadraoMX(1em);
            }
        }
    }
}
.cadPortf{
    & p{
        @include fontPadraoMX(1em);
    }
}
/* PARTIAL - PORTFOLIO - FIM */

/* PARTIAL - CADASTRO PORTFOLIO - INICIO */
.cadastro{
    & label, & input[type='text']{
        @include fontPadraoMX(1em);
        padding-bottom: 10px;
    }
    & input[type='file'] {
        display: none
    }
    & select{
        @include fontPadraoMX(1em);
    }
    & .tecnologias{
        margin-top: 55px;
        & label{
            display: block;
        }
        & ul{
            & li{
                display: inline-block;
                float: left;
                width: 190px;
            }
        }
    }
    & button, & a{
        @include fontPadraoMX(1em);
    }
    & .btn {
        color: $branco;
    }
}
/* PARTIAL - CADASTRO PORTFOLIO - FIM */

/* PARTIAL - CADASTRO TECNOLOGIA - INICIO */
.tecnologia{
    & label, & input[type='text'], & input[type='file']{
        @include fontPadraoMX(1em);
        padding-bottom: 10px;
    }
    & button, & a{
        @include fontPadraoMX(1em);
    }
    & .btn {
        color: $branco;
    }
}
/* PARTIAL - CADASTRO TECNOLOGIA - FIM */

.user {
    & .add-user{
        border: 3px dashed $vermelho;
        height: 300px;
        text-decoration: none;
        cursor: pointer;
        margin-right: 30px;
        & ul{
            width: 100%;
            & li{
                text-align: center;
                & i{
                    height: 200px;
                    padding: 100px 0;
                    font-size: 5em;
                    color: $verde;
                }
                & p{
                    padding-top: 50px;
                    @include fontDestaqueMX(1em);
                }
            }
        }
    }
    & .add-user:hover{
        border: 3px solid $vermelho;
        & ul{
            & li{
                & i{
                    color: $verdeEscuro;
                }
            }
        }
    }
    & .user-box{
        height: 300px;
        padding: 15px 20px;
        border: 3px solid $vermelho;
        margin-right:15px;
        & ul{
            & li{
                & p{
                    text-align: center;
                    padding: 20px 0 0;
                    @include fontPadraoMX(1em);
                }
            }
            & .dot-options{
                width: 34px;
                height: 34px;
                border-radius: 38px;
                box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
                text-align: center;
                cursor: pointer;
                position: absolute;
                right: 8px;
                top: 8px;
                background-color: white;
                color: #8b909b;
                font-size: 20px;
                text-align: center;
                padding: 6px 0;
                z-index: 3;
                border:1px solid $cinzaClaro;
                & button, & a {
                    background: none;
                    border: none;
                    @include fontPadraoMX(1em);
                    padding: 10px 15px;

                }
                & li:hover{
                    background-color: $cinzaClaro;
                }
            }
            & .dot-options:hover{
                color: $branco;
                background-color: $cinzaDestaque;
            }
            & .dropdown-menu{
                right: 8px;
                top: 44px;
                left: auto;
            }
        }
    }
}
