<div class="col-md-4 boxContent" ng-controller="PortfolioDashboardCtrl as dashCtrl">
    <ul>
        <li>
            <h2>Último Case</h2>
        </li>
        <li class="descriptBox">
            <div>
                <ul>
                    <li>
                        <h4>{{dashCtrl.caseItem.name}}</h4>
                    </li>
                    <li>
                        <p>{{dashCtrl.formattedTechs}}</p>
                    </li>
                    <li>
                        <span><i class="fa fa-calendar"></i> Data: {{dashCtrl.caseItem.date_job | date: 'dd-MM-yyyy'}}</span>
                    </li>
                </ul>
            </div>
        </li>
    </ul>
</div>

<!--
<div class="col-md-4 col-md-offset-2 boxContent">
    <ul>
        <li>
            <h2>Últimas Horas Lançadas</h2>
        </li>
        <li class="descriptBox">
            <div>
                <ul>
                    <li>
                        <h4>Nome do Case</h4>
                    </li>
                    <li>
                        <p><i class="fa fa-calendar"></i> Data início: 25/06/1990</p>
                    </li>
                    <li>
                        <p><i class="fa fa-calendar-check-o"></i> Data fim:  25/06/1990</p>
                    </li>
                    <li>
                        <span><i class="fa fa-clock-o"></i> Tempo: </span>
                    </li>
                </ul>
            </div>
        </li>
    </ul>
</div>-->
