<div class="table-responsive col-md-9" ng-controller="PortfolioCaseListCtrl as caseListVm">
    <table class="table table-bordered table-hover">
        <thead>
        <tr>
            <th>Nome</th>
            <th>Tipo</th>
            <th>Data</th>
            <th>Ações</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="case in caseListVm.modelList">
            <td>{{case.name}}</td>
            <td>{{case.category.name}}</td>
            <td>{{case.date_job | date : 'dd/MM/yyyy'}}</td>
            <td class="acoes">
                <ul>
                    <li style="display:inline-block"><a ui-sref="admin.portfolio.edit-case({caseId:case.id})" class="btn btn-warning">Editar</a></li>
                    <li style="display:inline-block"><button ng-click="caseListVm.removeCase(case.id)" class="btn btn-danger">Excluir</button></li>
                </ul>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<div class="clearfix"></div>

<div class="col-md-9 cadPortf">
    <p>Deseja cadastrar um novo Case? <a ui-sref="admin.portfolio.add-case" class="btn btn-success">Cadastrar</a></p>
</div>