<section class="col-md-6 cadastro" ng-controller="PortfolioCaseAddEditCtrl as caseCtrl">
    <form method="post" enctype="multipart/form-data">
        <div class="form-group">
            <label for="nome">Nome do Case: </label>
            <input type="text" name="nome" ng-model="caseCtrl.model.name" class="form-control">
        </div>
        <div class="form-group">
            <label for="tipo">Tipo do Case: </label>
            <select class="form-control" name="tipo" ng-model="caseCtrl.model.category" >
                <option ng-repeat="category in caseCtrl.modelRead.categories" ng-selected="category.id === caseCtrl.model.category.id" value="{{category.id}}">{{category.name}}</option>
            </select>
        </div>
        <div class="form-group">
            <label for="descricao">Descrição: </label>
            <textarea class="form-control" rows="5" ng-model="caseCtrl.model.description" name="descricao"></textarea>
        </div>
        <div class="form-group">
            <label for="data">Data: </label>
            <datepicker date-format="dd-MM-yyyy" selector="form-control">
                <div class="input-group">
                    <span class="input-group-addon" >
                        <i class="fa fa-lg fa-calendar"></i>
                    </span>
                    <input ng-model="caseCtrl.model.date_job" id="data" name="data" type="text" class="form-control"style="cursor: pointer">
                </div>
            </datepicker>
        </div>
        <div class="form-group tecnologias">
            <label for="case">Tecnologias: <button class="btn btn-success btn-xs" ng-click="caseCtrl.newTechnology()">Novo</button> </label>
            <ul class="checkbox coluna1">
                <li ng-repeat="technology in caseCtrl.modelRead.technologies track by $index">
                    <label>
                        <input checklist-model="caseCtrl.model.technologies" type="checkbox" checklist-value="technology.id" ng-checked="technology.id === caseCtrl.model.technologies[$index].id"> {{technology.name}}
                    </label>
                </li>
            </ul>
        </div>
        <div class="form-group">
            <label for="imgDestaque" class="input-file-for"><i class="fa fa-picture-o"></i><span> {{caseCtrl.model.image ? caseCtrl.model.image.name : 'Imagem de Destaque:'}}</span> </label>
            <input type="file" id="imgDestaque" name="image" model="caseCtrl.model.image" file-model="caseCtrl.model.image" class="form-control">
        </div>
        <div class="form-group">
            <label for="link">Link do Case: </label>
            <input type="text" name="link" ng-model="caseCtrl.model.link" class="form-control">
        </div>
        <div class="pull-right">
            <a ui-sref="admin.portfolio.case-list" class="btn btn-danger">Cancelar</a>
            <button class="btn btn-success" ng-click="caseCtrl.save()">Salvar</button>
        </div>
    </form>
</section>

<script type="text/ng-template" id="new-technology.modal.tpl.html">
    <md-dialog aria-label="List dialog" class="modal-default modal500">
        <md-dialog-content md-theme="docs-dark" layout-gt-sm="row">
            <div class="modal-dialog pull-left">
                <div class="modal-header">
                    <button type="button" class="close" ng-click="dialogNewTechnologyMode.cancel()"><i class="fa fa-times"></i></button>
                    <h3 class="modal-title">Nova Tecnologia</h3>
                </div>
                <!--Modal Body-->
                <div class="modal-body col-md-12 col-lg-12">
                    <md-input-container class="md-block" flex-gt-sm>
                        <label for="nome">Nome da Tecnologia: </label>
                        <input type="text" name="{{dialogNewTechnologyMode.model.name}}" ng-model="dialogNewTechnologyMode.model.name" class="form-control">
                    </md-input-container>
                </div><!--end modal body-->
            </div>
        </md-dialog-content>
        <md-dialog-actions class="modal-footer">
            <md-button ng-click="dialogNewTechnologyMode.cancel()" class="cancel-modal-button">Cancelar</md-button>
            <md-button ng-click="dialogNewTechnologyMode.save()" class="save-modal-button">Salvar</md-button>
        </md-dialog-actions>
    </md-dialog>
</script>