<div class="col-md-9" ng-controller="UserListCtrl as userListVm">
    <a class="add-user col-md-3" ui-sref="admin.users.add" ng-if="userListVm.roleAccount === 'admin'">
        <ul>
            <li>
                <i class="fa fa-plus-circle"></i>
            </li>
            <li>
                <p>Add User</p>
            </li>
        </ul>
    </a>
    <ul>
        <li class="user-box col-md-3" ng-repeat="user in userListVm.modelList">
            <ul>
                <li><img ng-src="{{user.image}}" class="img-responsive" alt="{{user.name}}"></li>
                <li><p>{{user.name}}</li>
                <div class="dot-options" uib-dropdown="">
                    <div class="dot" uib-dropdown-toggle aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-ellipsis-h"></i>
                    </div>
                    <ul class="nav dropdown-menu" uib-dropdown-menu="" role="menu">
                        <li ng-if="user.id === userListVm.currentAccount.id || userListVm.roleAccount === 'admin'">
                            <a ui-sref="admin.users.edit({userId: user.id})">
                                <i class="fa fa-pencil"></i> Edit
                            </a>
                        </li>
                        <li ng-if="userListVm.roleAccount === 'admin'">
                            <button ng-click="userListVm.removeUser(user.id)">
                                <i class="fa fa-remove"></i> Remove
                            </button>
                        </li>
                    </ul>
                </div>
            </ul>
        </li>
    </ul>
</div>