<section class="col-md-6 cadastro" ng-controller="UserAddEditCtrl as userAddEditVm">
    <form method="post" enctype="multipart/form-data">
        <div class="form-group">
            <label for="nome">Nome do Usuário: </label>
            <input type="text" name="nome" ng-model="userAddEditVm.model.name" class="form-control">
        </div>
        <div class="form-group">
            <label for="tipo">E-mail do Usuário: </label>
            <input type="email" name="nome" ng-model="userAddEditVm.model.email" class="form-control">
        </div>
        <div class="form-group">
            <label for="tipo">Senha do Usuário: </label>
            <input type="password" ng-disabled="userAddEditVm.model.password && userAddEditCtrl.userEdit" name="nome" ng-model="userAddEditVm.model.password" class="form-control">
        </div>
        <div class="form-group">
            <label for="imgDestaque" class="input-file-for"><i class="fa fa-picture-o"></i><span> {{userAddEditVm.model.image ? userAddEditVm.model.image.name : 'Imagem do Usuário:'}}</span> </label>
            <input type="file" id="imgDestaque" name="image" model="userAddEditVm.model.image" file-model="userAddEditVm.model.image" class="form-control">
        </div>
        <div class="form-group">
            <label for="descricao">Roles: </label>
            <select class="form-control" name="tipo" ng-model="userAddEditVm.model.role" >
                <option ng-repeat="role in userAddEditVm.modelRead.roles" ng-selected="role.name === userAddEditVm.model.role.name" value="{{role.name}}">{{role.name}}</option>
            </select>
        </div>
        <div class="pull-right">
            <button ng-if="userAddEditVm.model.password" class="btn btn-info" ng-click="userAddEditVm.changePassword(userAddEditVm.model.password)">Alterar Senha</button>
            <a ui-sref="admin.users.list" class="btn btn-danger">Cancelar</a>
            <button class="btn btn-success" ng-click="userAddEditVm.save()">Salvar</button>
        </div>
    </form>
</section>

<script type="text/ng-template" id="change-password.modal.tpl.html">
    <md-dialog aria-label="List dialog" class="modal-default modal500">
        <md-dialog-content md-theme="docs-dark" layout-gt-sm="row">
            <div class="modal-dialog pull-left">
                <div class="modal-header">
                    <button type="button" class="close" ng-click="changePasswordModalCtrl.cancel()"><i class="fa fa-times"></i></button>
                    <h3 class="modal-title">Nova Senha</h3>
                </div>
                <!--Modal Body-->
                <div class="modal-body col-md-12 col-lg-12">
                    <md-input-container class="md-block" flex-gt-sm>
                        <label for="nome">Nova Senha: </label>
                        <input type="password" name="{{changePasswordModalCtrl.modelPass.password}}" ng-model="changePasswordModalCtrl.modelPass.password" class="form-control">
                    </md-input-container>
                </div><!--end modal body-->
            </div>
        </md-dialog-content>
        <md-dialog-actions class="modal-footer">
            <md-button ng-click="changePasswordModalCtrl.cancel()" class="cancel-modal-button">Cancelar</md-button>
            <md-button ng-click="changePasswordModalCtrl.save()" class="save-modal-button">Salvar</md-button>
        </md-dialog-actions>
    </md-dialog>
</script>