<!--Sidebar Left-->
<aside class="menuLateral col-xs-4 col-md-3" ng-class="{'sidebar-left-hide' : !structure.leftSideBar.showSideBar}">
    <ul>
        <li ng-repeat="item in structure.leftSideBar.menuActive" ui-sref="{{item.state}}">
            <a ng-show="item.state != 'todo' && !item.parameterState" ui-sref="{{item.state}}" ng-attr-title="{{item.title}}"> <i ng-show="item.state != 'todo'" ng-attr-title="{{item.title}}" class="{{item.iconClass}}"></i> {{item.label}}</a>
            <a ng-show="item.state != 'todo' && item.parameterState" ui-sref="{{item.state}}({ {{item.parameterValue}} })" ng-attr-title="{{item.title}}"></a>
            <i ng-show="item.state == 'todo'" ng-click="structure.todoWarning(item.label)" ng-attr-title="{{item.title}}" class="{{item.iconClass}}"></i>
            <a ng-show="item.state == 'todo'" ng-click="structure.todoWarning(item.label)" ng-attr-title="{{item.title}}">{{item.label}}</a>
        </li>
    </ul>
</aside>