@charset "UTF-8";
/* MEDIA QUERIES */
/* MEDIA QUERIES */
.input-file-for {
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  background-color: #ffffff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  cursor: pointer; }

.save-modal-button {
  background-color: #3D8002 !important;
  border-color: #255625 !important;
  color: #ffffff !important;
  font-weight: 700 !important;
  font-family: "Open Sans", sans-serif !important; }

.cancel-modal-button {
  border-color: #7D171B !important;
  background: #ac2925 !important;
  color: #ffffff !important;
  font-weight: 700 !important;
  font-family: "Open Sans", sans-serif !important; }

header {
  background-color: #6f6f73;
  padding: 0; }
  header .logo {
    background-color: #A81E22;
    padding: 20px 0; }
    header .logo img {
      height: 70px;
      margin: 0 auto; }
  header .login ul li {
    display: inline-block; }
    header .login ul li img {
      margin-top: 20px;
      margin-right: 10px;
      width: 65px;
      height: 65px;
      border-radius: 50%;
      border: 1px solid white; }
    header .login ul li span {
      font-family: "Open Sans", sans-serif;
      color: #7e8082;
      font-size: 1em;
      color: #ffffff;
      float: right;
      position: absolute;
      top: 50%; }
    header .login ul li a {
      font-family: "Open Sans", sans-serif;
      color: #7e8082;
      font-size: 1em;
      color: #ffffff;
      float: right;
      text-decoration: none;
      cursor: pointer;
      font-size: 0.8em !important; }
      header .login ul li a:hover {
        text-decoration: none; }

.wrapContainer {
  height: 100%; }
  .wrapContainer .container-fluid, .wrapContainer .row {
    height: 100%; }
  .wrapContainer .menuLateral {
    background-color: #A81E22;
    height: 100%;
    position: absolute; }
    .wrapContainer .menuLateral ul {
      margin-top: 20px; }
      .wrapContainer .menuLateral ul li {
        padding: 25px;
        background-color: transparent;
        transition: background-color, 0.2s; }
        .wrapContainer .menuLateral ul li a {
          font-family: "Oswald", sans-serif;
          color: #6f6f73;
          font-size: 1.1em;
          text-transform: uppercase;
          font-weight: 300;
          color: #ffffff;
          letter-spacing: 2px; }
          .wrapContainer .menuLateral ul li a i {
            margin-right: 10px;
            width: 40px;
            color: #ffffff; }
          .wrapContainer .menuLateral ul li a:hover, .wrapContainer .menuLateral ul li a:active, .wrapContainer .menuLateral ul li a:focus {
            text-decoration: none;
            background-color: transparent; }
        .wrapContainer .menuLateral ul li:hover, .wrapContainer .menuLateral ul li:active, .wrapContainer .menuLateral ul li:focus {
          background-color: rgba(255, 255, 255, 0.3);
          cursor: pointer; }
  .wrapContainer .content {
    margin-top: 20px;
    float: right; }

.topPage ul {
  padding-top: 25px;
  padding-bottom: 25px;
  border-bottom: solid 3px #d7d9dc;
  margin-bottom: 25px; }
  .topPage ul li h4 {
    font-family: "Oswald", sans-serif;
    color: #6f6f73;
    font-size: 2em;
    text-transform: uppercase;
    font-weight: 300; }

/* PARTIAL - HOME - INÍCIO */
.boxContent {
  background-color: #d7d9dc;
  opacity: 0.6;
  padding: 30px;
  height: 250px; }
  .boxContent h2 {
    font-family: "Oswald", sans-serif;
    color: #6f6f73;
    font-size: 2em;
    text-transform: uppercase;
    font-weight: 300;
    text-align: center; }
  .boxContent .descriptBox {
    margin-top: 20px; }
    .boxContent .descriptBox ul li {
      padding: 5px 0; }
      .boxContent .descriptBox ul li ul li {
        display: inline-block; }
    .boxContent .descriptBox h4 {
      font-family: "Oswald", sans-serif;
      color: #6f6f73;
      font-size: 1.25em;
      text-transform: uppercase;
      font-weight: 300;
      color: #1e171f; }
    .boxContent .descriptBox p {
      font-family: "Open Sans", sans-serif;
      color: #7e8082;
      font-size: 1em;
      color: #1e171f;
      margin: 10px 0; }
    .boxContent .descriptBox span {
      font-family: "Open Sans", sans-serif;
      color: #7e8082;
      font-size: 1em;
      color: #1e171f; }

/* PARTIAL - HOME - FIM */
/* PARTIAL - PORTFOLIO - INICIO */
.table thead tr th {
  font-family: "Oswald", sans-serif;
  color: #6f6f73;
  font-size: 1.2em;
  text-transform: uppercase;
  font-weight: 300; }

.table tbody tr td {
  font-family: "Open Sans", sans-serif;
  color: #7e8082;
  font-size: 1em; }

.cadPortf p {
  font-family: "Open Sans", sans-serif;
  color: #7e8082;
  font-size: 1em; }

/* PARTIAL - PORTFOLIO - FIM */
/* PARTIAL - CADASTRO PORTFOLIO - INICIO */
.cadastro label, .cadastro input[type='text'] {
  font-family: "Open Sans", sans-serif;
  color: #7e8082;
  font-size: 1em;
  padding-bottom: 10px; }

.cadastro input[type='file'] {
  display: none; }

.cadastro select {
  font-family: "Open Sans", sans-serif;
  color: #7e8082;
  font-size: 1em; }

.cadastro .tecnologias {
  margin-top: 55px; }
  .cadastro .tecnologias label {
    display: block; }
  .cadastro .tecnologias ul li {
    display: inline-block;
    float: left;
    width: 190px; }

.cadastro button, .cadastro a {
  font-family: "Open Sans", sans-serif;
  color: #7e8082;
  font-size: 1em; }

.cadastro .btn {
  color: #ffffff; }

/* PARTIAL - CADASTRO PORTFOLIO - FIM */
/* PARTIAL - CADASTRO TECNOLOGIA - INICIO */
.tecnologia label, .tecnologia input[type='text'], .tecnologia input[type='file'] {
  font-family: "Open Sans", sans-serif;
  color: #7e8082;
  font-size: 1em;
  padding-bottom: 10px; }

.tecnologia button, .tecnologia a {
  font-family: "Open Sans", sans-serif;
  color: #7e8082;
  font-size: 1em; }

.tecnologia .btn {
  color: #ffffff; }

/* PARTIAL - CADASTRO TECNOLOGIA - FIM */
.user .add-user {
  border: 3px dashed #A81E22;
  height: 300px;
  text-decoration: none;
  cursor: pointer;
  margin-right: 30px; }
  .user .add-user ul {
    width: 100%; }
    .user .add-user ul li {
      text-align: center; }
      .user .add-user ul li i {
        height: 200px;
        padding: 100px 0;
        font-size: 5em;
        color: #3D8002; }
      .user .add-user ul li p {
        padding-top: 50px;
        font-family: "Oswald", sans-serif;
        color: #6f6f73;
        font-size: 1em;
        text-transform: uppercase;
        font-weight: 300; }

.user .add-user:hover {
  border: 3px solid #A81E22; }
  .user .add-user:hover ul li i {
    color: #2c6002; }

.user .user-box {
  height: 300px;
  padding: 15px 20px;
  border: 3px solid #A81E22;
  margin-right: 15px; }
  .user .user-box ul li p {
    text-align: center;
    padding: 20px 0 0;
    font-family: "Open Sans", sans-serif;
    color: #7e8082;
    font-size: 1em; }
  .user .user-box ul .dot-options {
    width: 34px;
    height: 34px;
    border-radius: 38px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    text-align: center;
    cursor: pointer;
    position: absolute;
    right: 8px;
    top: 8px;
    background-color: white;
    color: #8b909b;
    font-size: 20px;
    text-align: center;
    padding: 6px 0;
    z-index: 3;
    border: 1px solid #d7d9dc; }
    .user .user-box ul .dot-options button, .user .user-box ul .dot-options a {
      background: none;
      border: none;
      font-family: "Open Sans", sans-serif;
      color: #7e8082;
      font-size: 1em;
      padding: 10px 15px; }
    .user .user-box ul .dot-options li:hover {
      background-color: #d7d9dc; }
  .user .user-box ul .dot-options:hover {
    color: #ffffff;
    background-color: #6f6f73; }
  .user .user-box ul .dropdown-menu {
    right: 8px;
    top: 44px;
    left: auto; }
