<section class="col-md-6 tecnologia" ng-controller="PortfolioTechnologyAddEditCtrl as tecnologiaVm">
    <form method="post">
        <div class="form-group">
            <label for="nome">Nome da Tecnologia: </label>
            <input type="text" name="{{tecnologiaVm.model.name}}" ng-model="tecnologiaVm.model.name" class="form-control">
        </div>
        <div class="pull-right">
            <a ui-sref="admin.portfolio.add-case" class="btn btn-danger">Cancelar</a>
            <button class="btn btn-success" ng-click="tecnologiaVm.save()">Salvar</button>
        </div>
    </form>
</section>