<div class="dashboard" ng-controller="StructureCtrl as structure" control-drop-down-state>
    <!--Sidebar Left-->

    <admin-navbar-top></admin-navbar-top>

    <section class="wrapContainer">
        <div class="container-fluid">
            <div class="row">
                <admin-sidebar-left></admin-sidebar-left>
                <section class="content col-xs-8 col-md-9" content-class>
                    <admin-titles-top></admin-titles-top>
                    <!-- Content loader -->
                    <ui-view></ui-view>
                </section>
            </div>
        </div>
    </section>
</div>